
/* Diretivas do Tailwind ESSENCIAIS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Estilo Global para o corpo */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
/* Estilo para esconder a barra de scroll horizontal nos navegadores */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}